/* episodio.css */
.episodios-container1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 80vh;
    padding: 30px;
    margin-top: 80px;
    border-radius: 8px;
    background-color: white;
  }
  
  .episodios-grid-container1 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    max-height: 90vh; 
    overflow-y: auto;
    background-color: #bcbfc1; 
  }
  
  .episodio-card1 {
    cursor: pointer;
    flex: 0 0 auto;
  }
  
 
  
  .episodio-card1:hover {
    transform: scale(1.05);
    background-color: #e9ecee;
}

  