.episodio-detalhes1 {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.personagens-container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    max-height: 90vh; /* Ajuste conforme necessário */
    overflow-y: auto;
    background-color: #bcbfc1; /* Altere para a cor de fundo desejada */
}

.personagem-card {
    flex: 0 0 auto;
    width: 150px;
    cursor: pointer;
    text-align: center;
}

.personagem-card:hover {
    background-color: #f8f9fa;
}

.personagem-image {
    width: 100%;
    height: auto;
}

.personagem-name {
    margin-top: 10px;
}

.navegacao {
    margin-top: 20px;
   }
