.central-column {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  /* Altura responsiva, centralizado verticalmente */
  max-width: 100%;
  /* Limite máximo de largura */
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
  margin: auto;
}


.pagination-controls {
  display: flexbox;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls span {
  margin: 0 10px;
}

.personagem-carousel {
  margin-bottom: 10px;
  /* Espaço abaixo do carousel */
  background-color: #bcbfc1;
  /* Altere para a cor de fundo desejada */
  padding: 20px;
  /* Adiciona espaçamento interno ao Carousel */
  border-radius: 10px;
  /* Adiciona bordas arredondadas, se desejado */
  gap: 5px;
  

}

.personagem-carousel .carousel-item {
  /* Garante que os itens do Carousel também tenham a cor de fundo */
  background-color: inherit;
  
}