#root {
margin:0;

}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content{
   width: 100%;
   

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding:  5em;
}

body {
  margin: 0;

  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
